.containerPortfolio {
   background-color: #f0f0f0;
   min-height: 100vh;
   margin-top: 7vh;
   overflow: hidden;
}

.containerPortfolioItem {
   max-height: 60vh;
   overflow: scroll;
}

.itemPortfolio {
   border: 2px solid var(--border-nav);
   position: relative;
}

.textContainer {
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--border-nav);
   padding: 2rem 0;
   text-align: center;
}

.modalImg {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   z-index: 1;
}

.modalImg .bgTransparent {
   width: 100%;
   height: 100%;
   background-color: var(--border-nav);
   position: absolute;
   z-index: 2;
   opacity: 0;
   transition: .5s;
}

.modalImg .iconSearch{
   color: white;
   z-index: 3;
   font-size: 1.2rem;
   opacity: 0;
   transition: .5s;
}

.modalImg .bgTransparent:hover {
   opacity: .5;
}

.modalImg .bgTransparent:hover ~ .iconSearch{
   opacity: 1;
}

.imgThumb {
   width: 100%;
   height: 100%;
   cursor: pointer;
}

main { 
   padding: 10px 0px;
}

main .header{
   display: flex;
   align-items: center;
   justify-content: space-between;   
   padding : 0px 20px;
   border-bottom: 1.5px solid #333;
}

.containerText {
   height: 20vh;
}

.header h2 {
   font-weight: bold;
}

main .header .closeModal{
   font-size: 1.5rem;
   color: #b6b6b6;
   cursor: pointer;
}

.body {
   margin-top: 5vh;
   padding: 0px 20px;
}

.body img {
   width: 100%;
}

.body h4 {
   font-size: 1.2rem;
   font-weight: 300;
   margin-top: 4vh;
}

.body strong {
   font-weight: bold !important;
   font-family: sans-serif;
   margin-top: 2vh;
   display: block;
}

.imgSkill {
   width: 80px;
   height: 80px;
   border-radius: 4px;
   object-fit: cover;
   object-position: top;
   filter: grayscale(1);
   transition: all .2s;
}

.imgSkill:hover {
   filter: grayscale(0);
}

@media only screen and (max-width : 1024px) { 
   .containerPortfolio {
      min-height: 50vh;
   }
   
   .containerPortfolioItem {
      justify-content: center;
      max-height: 68vh;
   }

   .body img {
      width: 90%;
   }

   .header h2 {
      font-size: 1.7rem;
   }

   .containerText {
      height: auto;
   }

   .body h4 {
      font-size: 1rem;
   }

   .itemPortfolio {
      margin-bottom: 5%;
   }

   .textContainer h2 {
      font-size: 2.4rem;
   }

   strong{
      display: block;
      font-size: .9rem;
   }

   strong a {
      word-break : break-all;
   }

   .imgSkill {
      width: 50px;
      height: 50px;
   }
}