.logo {
   width: 20%;
   cursor: pointer;
}

.nav {
   width: 100%;
   position: fixed;
   z-index: 2;
}

.navBrand {
   width: 17.25;
   padding: 10px;
}

.iconMenu {
   color : var(--primary-white);
   font-size: 1.5625rem;
}

.navlink {
   color: var(--primary-white) !important; 
   text-transform: uppercase;
   border-top: 0.1875rem solid #343B40;
   margin-right: 1rem;
   cursor: pointer;
}

.navlink.active, .navlink:focus {
   border-top: 0.1875rem solid var(--border-nav);
}

.navlink:hover {
   border-top: 0.1875rem solid var(--border-nav);
   text-decoration: none;
}

@media only screen and (max-width : 768px) {
   nav {
      padding: 0px 10px !important;
   }

   .logo {
      width: 3.5rem !important;
   }

   .navlink {
      border: 0px;
      margin-bottom: 3%;
   }

   .navlink.active, .navlink:focus {
      border : 0px;
   }

   .navlink:hover{
      border : 0px;
   }
}