@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root { 
   --primary-white : rgb(243, 243, 243);
   --border-nav : orange;
   --secondary-color : rgb(255, 47, 47);
}

body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Roboto Condensed', sans-serif;
}
